@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: rgba(255, 255, 255, 0.6);
  --primary-foreground: rgb(0, 0, 0);
  --primary-accent: rgba(255, 255, 255, 0.6);
}

body.dark-theme {
  --primary-background: rgba(28, 33, 39, 0.8);
  --primary-foreground: rgba(255, 255, 255, 0.835);
  --primary-accent: rgba(28, 33, 39, 0.8);
}

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/assets/fonts/segoe-ui-variable/SegoeUIVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Segoe UI Variable', sans-serif;
  color: var(--primary-foreground);
}
