@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: rgba(255, 255, 255, 0.6);
  --secondary-background: rgba(255, 255, 255, 1);
  --primary-foreground: rgb(0, 0, 0);
  --primary-accent: rgba(255, 255, 255, 0.6);
}

body.dark-theme {
  --primary-background: rgba(28, 33, 39, 0.8);
  --secondary-background: rgba(28, 33, 39, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --primary-accent: rgba(28, 33, 39, 0.8);
}

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/assets/fonts/segoe-ui-variable/SegoeUIVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Segoe UI Variable', sans-serif;
  color: var(--primary-foreground);
}

@keyframes glitch-text {
  0% {
    clip-path: inset(40% 0 61% 0);
    transform: skew(0.15deg);
  }
  20% {
    clip-path: inset(75% 0 28% 0);
    transform: skew(0.3deg);
  }
  40% {
    clip-path: inset(48% 0 43% 0);
    transform: skew(-0.1deg);
  }
  60% {
    clip-path: inset(13% 0 78% 0);
    transform: skew(0.4deg);
  }
  80% {
    clip-path: inset(33% 0 66% 0);
    transform: skew(-0.2deg);
  }
  100% {
    clip-path: inset(40% 0 61% 0);
    transform: skew(0.15deg);
  }
}
